.fancybox-close-small{
  background: #fff !important;
  opacity: 1 !important;
}

.fancybox-navigation .fancybox-button--arrow_left{
  background: $white !important;
}

.fancybox-navigation .fancybox-button--arrow_right{
  background: $white !important;
}

.fancybox-infobar span{
  color:#fff;
}

