.c-tag{
  &__list{
    display: flex;
    justify-content: center;
    transform: translateX(-0.6rem);
    margin-bottom: 6.6rem;
    flex-wrap: wrap;
    &__link{
      display: block;
      font-family: $roboto !important;
      font-style: normal;
      font-weight:400;
      font-size: 1.2rem;
      line-height: calc(32/12);
      letter-spacing:0.04rem;
      border:solid 1px $gray2;
      height: 3.4rem;
      padding: 0 1.3rem;
      border-radius: 1.6rem;
      margin-left:0.6rem;
      margin-bottom: 0.09rem;
    }
    &__item{
      margin-bottom: 1rem;
    }
  }
  &__txt{
    font-family: $roboto !important;
    font-style: normal;
    font-weight:400;
    font-size: 1.3rem;
    line-height: calc(24/13);
  }
}