.p-contact{
  background: $black;
  padding-right: var(--sidebar);
  padding-top: 5rem;
  &__form{
    width: 70%;
    margin: auto;
    border-radius: 5px;
    margin-bottom: 5rem;
    @include mq(xl){
      width: 100%;
    }
  }
  &__confirm{
    &__txt{
      color:#fff;
      font-family: $yuGothic;
      text-align: center;
    }
    &__link{
      color:blue;
    }
  }
}
