.p-top {
  @include mq(lg){
    padding-top: var(--headerHeight);
  }
  &__mv{
    width: 100%;
    overflow: hidden;
    position: fixed;
    z-index: -1;
    &__img{
      height: 100%;
    }
    &__overlay{
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 9;
      background:$black;
      opacity:0;
    }
    &__videoWrap{
      z-index: -1;
      position: relative;
      top: 0;
      left:50%;
      width: 100%;
      transform: translateX(-50%);
      padding-right:var(--sidebar);
    }
    &__video{
      width: 100%;
      //height: auto;
      //position: absolute;
      //top:45%;
      //left:50%;
      //transform: translate(-50%,-50%);
    }
  }
  &__parallax{
    padding-top:var(--mvHeight);
  }
  &__event{
    background: $black;
    padding-right: var(--sidebar);
    padding-top: 10rem;
    padding-bottom: 10rem;
    position: relative;
    min-height:calc(100vh - var(--mvHeight));
    &__txt{
      writing-mode: vertical-rl; /* 右から左への垂直方向 */
      text-orientation: mixed; /* 文字方向を混在 */
      color: $white;
      font-family: $yuGothic;
      font-size: 2.1rem;
      font-weight: 600;
      margin-left: auto;
      position: absolute;
      top: 0;
      right:calc(var(--sidebar) + 50px);
      padding-top:10rem;
      @include mq(lg){
        position: initial;
        writing-mode:initial; /* 右から左への垂直方向 */
        text-orientation:initial;
        text-align: center;
        padding-top:0;
        margin-bottom: 5rem;
      }
    }
    &__list{
      display: flex;
      padding-right:calc(var(--eventTxt) + 50px);
      margin-right: 0;
      margin-bottom: 10rem;
      flex-wrap: wrap;
      gap:calc(10/3 * 1%);
      position: relative;
      @include mq(lg){
        padding-right: 0;
      }
      @include mq(){
        gap: 10%;
      }
    }
    &__item{
      width: 30%;
      @include mq(){
        width:45%;
      }
      &--top{
        width:30%;
        @extend .p-top__event__item;
        @include mq(){
          width:45%;
        }
      }
    }
    &__itemTtl{
      color:$white;
      font-family:$yuGothic;
      font-size: 1.8rem;
      position: relative;
      font-weight: bold;
    }
    &__itemImg{
      margin-bottom: 2rem;
      height: 100%;
    }
    &__itemImgWrap{
      width: 100%;
      margin-bottom:1rem;
      aspect-ratio: 1/1;
      overflow: hidden;
    }
    &__itemLink{
      display:block;
      width: 100%;
      height: 100%;
      &:hover{
        opacity: initial;
        .p-top__event__itemBtn{
          transform: translateX(0);
          transition-property: all;
          transition: .4s;
        }
        .p-top__event__itemImg{
          transform: scale(1.2);
          transition-property: all;
          transition: .4s;
        }
      }
    }
    &__itemBtn{
      margin-left: auto;
      transform: translateX(-15%);
      position: absolute;
      bottom: 0;
      right: 0;
    }
    &__content{
      display: flex;
      justify-content: space-between;
    }
    &__date{
      display: block;
      color:$white;
      font-family:$yuGothic;
      font-size: 1.6rem;
      margin-bottom: 2rem;
    }
  }
  &__exhibition{
    padding-top: 10rem;
    padding-right: var(--sidebar);
    &__link{
      display:flex;
      background:#fee7e7;
      width: 80%;
      margin-left: auto;
      padding:5rem 10rem;
      @include mq(lg){
        width:100%;
        margin: auto;
        display: block;
        padding: 2rem;
      }
      &:hover{
        opacity:initial;
        .p-top__exhibition__linkImg{
          transition: .4s;
          transition-property: all;
          transform: scale(1.2);
          opacity:initial;
        }
        .p-top__exhibition__linkBtn{
          transform: translateX(-35%);
          transition: .4s;
          transition-property: all;
        }
      }
      &--reverse{
        @extend .p-top__exhibition__link;
        flex-direction:row-reverse;
        margin-right: auto;
        margin-left: initial;
        @include mq(lg){
          width:100%;
          margin: auto;
          display: block;
          padding: 2rem;
        }
      }
    }
    &__linkImgWrap{
      width:60%;
      overflow: hidden;
      height: 100%;
      @include mq(lg){
        width: 100%;
        margin-bottom: 2rem;
      }
    }
    &__txt{
      font-size: 2.4rem;
      text-align: center;
      font-family: $yuGothic;
      font-weight: 600;
      color: $white;
      margin-bottom: 15rem;
    }
    &__linkTxt{
      display: flex;
      justify-content: center;
      align-items: center;
      color:$black;
      font-family: $yuMincho;
      font-size: 2.4rem;
      width: 40%;
      position: relative;
      @include mq(lg){
        width: 100%;
      }
    }
    &__linkBtn{
      position: absolute;
      left:50;
      transform: translateX(-50%);
      bottom: 0;
    }
    &__linkImg{
      opacity: 0.8;
    }
  }
  &__companyEvent{
    padding-top:10rem;
    padding-bottom:20rem;
    padding-right: var(--sidebar);
    background: $black;
  }
  &__insta{
    background: $black;
    padding-right:var(--sidebar);
    padding-bottom: 10rem;
  }
  &__blueprint{
    background:$white;
    padding-right:var(--sidebar);
    padding-top: 10rem;
    padding-bottom: 10rem;
    &__img{
      width:60%;
      margin:5rem auto 15rem;
      @include mq(lg){
        width: 100%;
        margin:5rem auto 5rem;
      }
    }
    &__logo{
      display: block;
      width: 25rem;
      height: 15rem;
      margin-left: auto;
    }
    &__content{
      width: 70%;
      margin: auto;
      position: relative;
    }
  }
  &__house{
    &__list{
      display:flex !important;
      gap:5% !important;
      .slick-slide{
        margin-left:2.5rem;
      }
    }
  }
  &__comEvent{
    &__list{
      flex-wrap: wrap;
      display: flex;
      gap:calc(12/3*1%);
      @include mq(){
        gap: 10%;
      }
    }
    &__listItem{
      width:22%;
      @include mq(){
        width:45%;
      }
    }
  }
}

#sbi_load{
  display: none;
}

.sb_instagram_header{
  display: none;
}

   