@charset "UTF-8";
/*! destyle.css v1.0.15 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model */
/* ============================================ */
* {
  box-sizing: border-box;
}

::before,
::after {
  box-sizing: inherit;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border: 0;
  border-top: 1px solid;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content */
/* ============================================ */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
  vertical-align: bottom;
}

embed,
object,
iframe {
  border: 0;
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  border: 0;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

button[disabled],
[type=button][disabled],
[type=reset][disabled],
[type=submit][disabled] {
  cursor: default;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove arrow in IE10 & IE11
 */
select::-ms-expand {
  display: none;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  min-width: 0;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable] {
  outline: none;
}

/* Table */
/* ============================================ */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* Misc */
/* ============================================ */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

html {
  font-size: 62.5%;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 46.875%;
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

footer {
  margin-top: auto;
}

*,
*::before,
*::after {
  color: #464545;
  line-height: 1.8;
  font-size: 1.6rem;
  font-weight: 500;
  box-sizing: border-box;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  vertical-align: middle;
}

button {
  cursor: pointer;
}

a {
  font-size: inherit;
  line-height: inherit;
}

a:hover {
  opacity: 0.6;
  cursor: pointer;
}

li {
  list-style: none;
}

.l-header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  display: flex;
  align-items: center;
  height: 90px;
}
@media screen and (max-width: 1025px) {
  .l-header {
    height: 65px;
    background: #231815;
    position: fixed;
  }
}
.l-header__content {
  width: 100%;
  height: 100%;
  padding-right: var(--sidebar);
}
.l-header__content__inner {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}
.l-header__logo {
  width: 15rem;
  display: block;
}
.l-header__logo__img {
  width: 100% !important;
}

#wpadminbar {
  position: fixed !important;
  top: initial !important;
  bottom: 0 !important;
}

#wpadminbar .show-template-name, #wpadminbar .hover .show-template-name {
  color: #fff;
}

@keyframes spin {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.loaded {
  opacity: 0;
  display: none !important;
}

.l-content {
  width: 1200px;
  margin: auto;
}
@media screen and (max-width: 1200px) {
  .l-content {
    width: 92%;
  }
}
.l-content--percent {
  width: 92%;
  margin: auto;
}
.l-content--lg {
  width: 1025px;
  margin: auto;
}
@media screen and (max-width: 1400px) {
  .l-content--lg {
    width: 92%;
  }
}

.l-footer {
  padding-right: var(--sidebar);
  padding-top: 10rem;
  background: #464545;
}
.l-footer__inner {
  display: flex;
  width: 100%;
  margin-bottom: 5rem;
}
@media screen and (max-width: 1200px) {
  .l-footer__inner {
    flex-direction: column;
  }
}
.l-footer__logo {
  width: 33.3333333333%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1200px) {
  .l-footer__logo {
    justify-content: flex-start;
    padding-left: 2rem;
    margin-bottom: 5rem;
    width: 200px;
  }
}
.l-footer__logo__link {
  width: 40%;
  display: block;
}
@media screen and (max-width: 1200px) {
  .l-footer__logo__link {
    width: 100%;
  }
}
.l-footer__info {
  width: 50%;
  border-left: 1px solid #ffffff;
}
.l-footer__info__item {
  font-family: YuGothic, "Yu Gothic", sans-serif;
  color: #ffffff;
  font-size: 1.8rem;
  margin-bottom: 3px;
  margin-left: 10%;
}
.l-footer__info__wrap {
  display: flex;
  width: 66.6666666667%;
}
@media screen and (max-width: 1200px) {
  .l-footer__info__wrap {
    width: 100%;
  }
}
.l-footer__contact {
  width: 33.3333333333%;
  border-left: 1px solid #ffffff;
}
.l-footer__map {
  width: 30%;
  height: 300px;
}
.l-footer__top {
  width: 7.5rem;
  height: 7.5rem;
  position: fixed;
  bottom: 3rem;
  right: calc(var(--sidebar) + 3rem);
  z-index: 99999;
  display: none;
}
@media screen and (max-width: 1025px) {
  .l-footer__top {
    right: 0;
    bottom: var(--btnWrap);
  }
}
.l-footer__top__link {
  display: block;
  height: 100%;
  width: 100%;
  color: #ffffff;
  background: #231815;
  text-align: center;
  font-family: YuGothic, "Yu Gothic", sans-serif;
  position: relative;
}
.l-footer__top__link::after {
  content: "";
  width: 4rem;
  height: 4rem;
  border-top: solid 1px #ffffff;
  border-left: solid 1px #ffffff;
  transform: translate(-50%, -50%) rotate(45deg);
  position: absolute;
  top: 60%;
  left: 50%;
}

.p-hamburger {
  width: 0;
  height: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  overflow: hidden;
  display: none;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  padding-top: 20rem;
}
.p-hamburger__nav {
  width: 100%;
  height: 100%;
  padding-right: var(--sidebar);
}
.p-hamburger__nav__item {
  margin-bottom: 2rem;
}
.p-hamburger__nav__link {
  font-size: 1.8rem;
  font-family: YuGothic, "Yu Gothic", sans-serif;
  font-weight: 900;
  color: #ffffff;
  text-align: center;
  display: block;
}
.p-hamburger__nav__list {
  border-bottom: solid 1px #ffffff;
  width: 80%;
  margin: auto;
  margin-bottom: 1rem;
}
.p-hamburger__nav__jp {
  color: #ffffff;
  display: block;
  font-family: YuGothic, "Yu Gothic", sans-serif;
  font-size: 1.6rem;
}
.p-hamburger__fixedNav {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99;
  height: 100vh;
  background: rgba(83, 79, 73, 0.8);
  width: 200px;
}
@media screen and (max-width: 1025px) {
  .p-hamburger__fixedNav {
    width: 0;
  }
}
.p-hamburger__fixedNav__button {
  display: block;
  color: #ffffff;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  background: rgb(159, 99, 99);
  margin-bottom: 2rem;
  font-family: YuGothic, "Yu Gothic", sans-serif;
  font-weight: 600;
}
@media screen and (max-width: 1025px) {
  .p-hamburger__fixedNav__button {
    margin-bottom: 0;
    border-left: 1px solid #fff;
    background: rgb(159, 99, 99);
  }
}
.p-hamburger__fixedNav__buttonWrap {
  width: 200px;
  position: absolute;
  left: 0;
  bottom: 0;
}
@media screen and (max-width: 1025px) {
  .p-hamburger__fixedNav__buttonWrap {
    width: 100vw;
    position: absolute;
    right: 0;
    left: initial;
    bottom: 0;
  }
}
.p-hamburger__fixedNav__bottomWrap {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1025px) {
  .p-hamburger__fixedNav__bottomWrap {
    flex-direction: initial;
  }
}
.p-hamburger__fixedNav__snsList {
  display: flex;
  width: 92%;
  margin: auto;
  justify-content: space-between;
  margin-bottom: 0.8rem;
}
@media screen and (max-width: 1025px) {
  .p-hamburger__fixedNav__snsList {
    display: none;
  }
}
.p-hamburger__fixedNav__snsList--open {
  height: auto;
  display: flex;
  width: 250px;
  margin: auto;
  justify-content: space-between;
}
.p-hamburger__fixedNav__snsItem {
  width: 30%;
}
.p-hamburger__menu {
  width: 44.4444444444%;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #7D7D7D;
  color: #ffffff;
  font-size: 1.4rem;
}
@media screen and (max-width: 1025px) {
  .p-hamburger__menu {
    display: none;
  }
}
.p-hamburger__menu__wrap {
  display: flex;
}
@media screen and (max-width: 1025px) {
  .p-hamburger__menu__wrap {
    position: absolute;
    right: 0;
    top: 0;
  }
}
.p-hamburger__button {
  width: 55.5555555556%;
  height: 90px;
  position: relative;
  background: #231815;
}
@media screen and (max-width: 1025px) {
  .p-hamburger__button {
    width: 110px;
    height: 65px;
  }
}
.p-hamburger__button:hover {
  cursor: pointer;
  opacity: 0.6;
}
.p-hamburger__button__line {
  display: block;
  width: 100%;
  height: 2px;
  background: #ffffff;
}
.p-hamburger__button__line:nth-of-type(1) {
  position: absolute;
  width: 50%;
  top: 35%;
  right: 25%;
}
.p-hamburger__button__line:nth-of-type(2) {
  position: absolute;
  top: 50%;
  width: 42%;
  right: 25%;
}
.p-hamburger__button__line:nth-of-type(3) {
  position: absolute;
  top: 65%;
  width: 34%;
  right: 25%;
}

.open .p-hamburger__button__line:nth-of-type(1) {
  top: 50%;
  width: 45%;
  transform: rotate(-45deg);
  transition-property: all;
  transition-duration: 0.5s;
}
.open .p-hamburger__button__line:nth-of-type(2) {
  top: 50%;
  opacity: 0;
}
.open .p-hamburger__button__line:nth-of-type(3) {
  top: 50%;
  width: 45%;
  transform: rotate(45deg);
  transition-property: all;
  transition-duration: 0.5s;
}

.show {
  display: block;
  animation-name: sizeAnime;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-duration: 0.5s;
}

@keyframes sizeAnime {
  0% {
    width: 0;
    height: 0;
    border-radius: 50%;
    background: #ffffff;
  }
  5% {
    width: 5%;
    height: 10%;
    background: #ffffff;
    border-radius: 50%;
  }
  10% {
    width: 10%;
    height: 20%;
    background: #ffffff;
    border-radius: 50%;
  }
  30% {
    background: #ffffff;
  }
  50% {
    border-radius: 50%;
  }
  100% {
    width: 100vw;
    height: 100vh;
    border-radius: 0%;
    background: rgba(0, 0, 0, 0.7);
  }
}
/*
.navOpen{
  transform: translateX(0);
  transition-property: all;
  transition-duration: .8s;
}*/
@media screen and (max-width: 1025px) {
  .p-top {
    padding-top: var(--headerHeight);
  }
}
.p-top__mv {
  width: 100%;
  overflow: hidden;
  position: fixed;
  z-index: -1;
}
.p-top__mv__img {
  height: 100%;
}
.p-top__mv__overlay {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9;
  background: #464545;
  opacity: 0;
}
.p-top__mv__videoWrap {
  z-index: -1;
  position: relative;
  top: 0;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  padding-right: var(--sidebar);
}
.p-top__mv__video {
  width: 100%;
}
.p-top__parallax {
  padding-top: var(--mvHeight);
}
.p-top__event, .p-event {
  background: #464545;
  padding-right: var(--sidebar);
  padding-top: 10rem;
  padding-bottom: 10rem;
  position: relative;
  min-height: calc(100vh - var(--mvHeight));
}
.p-top__event__txt {
  writing-mode: vertical-rl; /* 右から左への垂直方向 */
  text-orientation: mixed; /* 文字方向を混在 */
  color: #ffffff;
  font-family: YuGothic, "Yu Gothic", sans-serif;
  font-size: 2.1rem;
  font-weight: 600;
  margin-left: auto;
  position: absolute;
  top: 0;
  right: calc(var(--sidebar) + 50px);
  padding-top: 10rem;
}
@media screen and (max-width: 1025px) {
  .p-top__event__txt {
    position: initial;
    writing-mode: initial; /* 右から左への垂直方向 */
    text-orientation: initial;
    text-align: center;
    padding-top: 0;
    margin-bottom: 5rem;
  }
}
.p-top__event__list {
  display: flex;
  padding-right: calc(var(--eventTxt) + 50px);
  margin-right: 0;
  margin-bottom: 10rem;
  flex-wrap: wrap;
  gap: 3.3333333333%;
  position: relative;
}
@media screen and (max-width: 1025px) {
  .p-top__event__list {
    padding-right: 0;
  }
}
@media screen and (max-width: 768px) {
  .p-top__event__list {
    gap: 10%;
  }
}
.p-top__event__item, .p-event__item, .p-top__event__item--top {
  width: 30%;
}
@media screen and (max-width: 768px) {
  .p-top__event__item, .p-event__item, .p-top__event__item--top {
    width: 45%;
  }
}
.p-top__event__item--top {
  width: 30%;
}
@media screen and (max-width: 768px) {
  .p-top__event__item--top {
    width: 45%;
  }
}
.p-top__event__itemTtl, .p-event__itemTtl {
  color: #ffffff;
  font-family: YuGothic, "Yu Gothic", sans-serif;
  font-size: 1.8rem;
  position: relative;
  font-weight: bold;
}
.p-top__event__itemImg {
  margin-bottom: 2rem;
  height: 100%;
}
.p-top__event__itemImgWrap, .p-event__itemImgWrap {
  width: 100%;
  margin-bottom: 1rem;
  aspect-ratio: 1/1;
  overflow: hidden;
}
.p-top__event__itemLink {
  display: block;
  width: 100%;
  height: 100%;
}
.p-top__event__itemLink:hover {
  opacity: initial;
}
.p-top__event__itemLink:hover .p-top__event__itemBtn {
  transform: translateX(0);
  transition-property: all;
  transition: 0.4s;
}
.p-top__event__itemLink:hover .p-top__event__itemImg {
  transform: scale(1.2);
  transition-property: all;
  transition: 0.4s;
}
.p-top__event__itemBtn {
  margin-left: auto;
  transform: translateX(-15%);
  position: absolute;
  bottom: 0;
  right: 0;
}
.p-top__event__content, .p-event__content {
  display: flex;
  justify-content: space-between;
}
.p-top__event__date, .p-event__date {
  display: block;
  color: #ffffff;
  font-family: YuGothic, "Yu Gothic", sans-serif;
  font-size: 1.6rem;
  margin-bottom: 2rem;
}
.p-top__exhibition {
  padding-top: 10rem;
  padding-right: var(--sidebar);
}
.p-top__exhibition__link, .p-top__exhibition__link--reverse {
  display: flex;
  background: #fee7e7;
  width: 80%;
  margin-left: auto;
  padding: 5rem 10rem;
}
@media screen and (max-width: 1025px) {
  .p-top__exhibition__link, .p-top__exhibition__link--reverse {
    width: 100%;
    margin: auto;
    display: block;
    padding: 2rem;
  }
}
.p-top__exhibition__link:hover, .p-top__exhibition__link--reverse:hover {
  opacity: initial;
}
.p-top__exhibition__link:hover .p-top__exhibition__linkImg, .p-top__exhibition__link--reverse:hover .p-top__exhibition__linkImg {
  transition: 0.4s;
  transition-property: all;
  transform: scale(1.2);
  opacity: initial;
}
.p-top__exhibition__link:hover .p-top__exhibition__linkBtn, .p-top__exhibition__link--reverse:hover .p-top__exhibition__linkBtn {
  transform: translateX(-35%);
  transition: 0.4s;
  transition-property: all;
}
.p-top__exhibition__link--reverse {
  flex-direction: row-reverse;
  margin-right: auto;
  margin-left: initial;
}
@media screen and (max-width: 1025px) {
  .p-top__exhibition__link--reverse {
    width: 100%;
    margin: auto;
    display: block;
    padding: 2rem;
  }
}
.p-top__exhibition__linkImgWrap {
  width: 60%;
  overflow: hidden;
  height: 100%;
}
@media screen and (max-width: 1025px) {
  .p-top__exhibition__linkImgWrap {
    width: 100%;
    margin-bottom: 2rem;
  }
}
.p-top__exhibition__txt {
  font-size: 2.4rem;
  text-align: center;
  font-family: YuGothic, "Yu Gothic", sans-serif;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 15rem;
}
.p-top__exhibition__linkTxt {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #464545;
  font-family: YuMincho, "Yu Mincho", serif;
  font-size: 2.4rem;
  width: 40%;
  position: relative;
}
@media screen and (max-width: 1025px) {
  .p-top__exhibition__linkTxt {
    width: 100%;
  }
}
.p-top__exhibition__linkBtn {
  position: absolute;
  left: 50;
  transform: translateX(-50%);
  bottom: 0;
}
.p-top__exhibition__linkImg {
  opacity: 0.8;
}
.p-top__companyEvent {
  padding-top: 10rem;
  padding-bottom: 20rem;
  padding-right: var(--sidebar);
  background: #464545;
}
.p-top__insta {
  background: #464545;
  padding-right: var(--sidebar);
  padding-bottom: 10rem;
}
.p-top__blueprint {
  background: #ffffff;
  padding-right: var(--sidebar);
  padding-top: 10rem;
  padding-bottom: 10rem;
}
.p-top__blueprint__img {
  width: 60%;
  margin: 5rem auto 15rem;
}
@media screen and (max-width: 1025px) {
  .p-top__blueprint__img {
    width: 100%;
    margin: 5rem auto 5rem;
  }
}
.p-top__blueprint__logo {
  display: block;
  width: 25rem;
  height: 15rem;
  margin-left: auto;
}
.p-top__blueprint__content {
  width: 70%;
  margin: auto;
  position: relative;
}
.p-top__house__list {
  display: flex !important;
  gap: 5% !important;
}
.p-top__house__list .slick-slide {
  margin-left: 2.5rem;
}
.p-top__comEvent__list {
  flex-wrap: wrap;
  display: flex;
  gap: 4%;
}
@media screen and (max-width: 768px) {
  .p-top__comEvent__list {
    gap: 10%;
  }
}
.p-top__comEvent__listItem {
  width: 22%;
}
@media screen and (max-width: 768px) {
  .p-top__comEvent__listItem {
    width: 45%;
  }
}

#sbi_load {
  display: none;
}

.sb_instagram_header {
  display: none;
}

.p-bread__link, .p-bread__current {
  line-height: 1;
}
.p-bread__list {
  display: flex;
}
.p-bread__list__item, .p-bread__list__item--black {
  color: #ffffff;
  font-size: 1.8rem;
  font-family: YuGothic, "Yu Gothic", sans-serif;
  font-weight: bold;
}
.p-bread__list__item--black {
  color: #464545;
}
.p-bread__list__link, .p-bread__list__link--black {
  color: #ffffff;
  font-size: 1.8rem;
  font-family: YuGothic, "Yu Gothic", sans-serif;
  font-weight: bold;
}
.p-bread__list__link--black {
  color: #464545;
}

.p-contact {
  background: #464545;
  padding-right: var(--sidebar);
  padding-top: 5rem;
}
.p-contact__form {
  width: 70%;
  margin: auto;
  border-radius: 5px;
  margin-bottom: 5rem;
}
@media screen and (max-width: 1200px) {
  .p-contact__form {
    width: 100%;
  }
}
.p-contact__confirm__txt {
  color: #fff;
  font-family: YuGothic, "Yu Gothic", sans-serif;
  text-align: center;
}
.p-contact__confirm__link {
  color: blue;
}

.p-works__thumb {
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.p-event__list {
  display: flex;
  margin-bottom: 10rem;
  flex-wrap: wrap;
  gap: 5%;
}
@media screen and (max-width: 768px) {
  .p-event__list {
    gap: 10%;
  }
}
.p-event__item {
  margin-left: 5%;
  margin-bottom: 5rem;
}
@media screen and (max-width: 1025px) {
  .p-event__item {
    margin-left: 0;
    width: 45% !important;
  }
}
.p-event__item:nth-of-type(3n + 1) {
  margin-left: 0;
}
.p-event__itemImg {
  height: 100%;
}
.p-event__date--single {
  color: #ffffff;
  font-weight: bold;
  font-family: YuGothic, "Yu Gothic", sans-serif;
  font-size: 1.8rem;
}
.p-event__button {
  margin: 0 auto 10rem !important;
}
.p-event__search {
  display: inline-flex;
  flex-direction: column;
}
.p-event__search__ttl {
  color: #ffffff;
  font-family: YuGothic, "Yu Gothic", sans-serif;
  font-size: 2.2rem;
  font-weight: bold;
  background: #231815;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
}
.p-event__search__linkWrap {
  padding: 0 1rem 2rem;
}
.p-event__search__link {
  color: #ffffff;
  font-family: YuGothic, "Yu Gothic", sans-serif;
  display: block;
  font-size: 1.8rem;
  font-weight: bold;
  padding: 0 1rem;
}
.p-event__search__link a {
  color: #ffffff !important;
  font-family: YuGothic, "Yu Gothic", sans-serif;
  font-weight: bold;
}

.p-exhibition, .p-exhibition__single {
  background: #464545;
  padding-right: var(--sidebar);
  padding-top: 15rem;
}
.p-exhibition__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}
@media screen and (max-width: 768px) {
  .p-exhibition__list {
    justify-content: space-between;
  }
}
.p-exhibition__list__arrow {
  margin-left: auto;
  transform: translateX(-20%);
}
.p-exhibition__list__item {
  width: 30%;
  margin-left: 5%;
  margin-bottom: 5rem;
  position: relative;
  overflow: hidden;
  height: auto;
}
@media screen and (max-width: 768px) {
  .p-exhibition__list__item {
    width: 45%;
    margin-left: 0;
  }
}
.p-exhibition__list__item:nth-of-type(3n+1) {
  margin-left: 0;
}
.p-exhibition__list__link {
  display: block;
}
.p-exhibition__list__link:hover {
  opacity: 1 !important;
}
.p-exhibition__list__link:hover .p-exhibition__list__thumb {
  transform: scale(1.2);
  transition: 0.5s;
  transition-property: all;
}
.p-exhibition__list__link:hover .p-exhibition__list__arrow {
  transform: translateX(0);
  transition: 0.5s;
  transition-property: all;
}
.p-exhibition__list__thumb {
  position: absolute;
  width: 100%;
  bottom: 0;
}
.p-exhibition__list__thumbTtl {
  font-family: YuGothic, "Yu Gothic", sans-serif;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  white-space: nowrap;
}
@media screen and (max-width: 1200px) {
  .p-exhibition__list__thumbTtl {
    font-size: 16px;
  }
}
@media screen and (max-width: 520px) {
  .p-exhibition__list__thumbTtl {
    font-size: 12px;
  }
}
.p-exhibition__list__thumbWrap {
  aspect-ratio: 5/4;
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-bottom: 3rem;
}
.p-exhibition__list__logo {
  display: block;
  width: 50%;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}
@media screen and (max-width: 1025px) {
  .p-exhibition__list__logo {
    width: 100%;
    left: 0;
    bottom: 0;
  }
}
.p-exhibition__list__logoImg {
  width: 80%;
}
.p-exhibition__txt {
  font-size: 2.4rem;
  color: #ffffff;
  font-family: YuGothic, "Yu Gothic", sans-serif;
  font-weight: 600;
  text-align: center;
}
.p-exhibition__txt--large {
  font-size: 3.6rem;
  color: #ffffff;
  font-family: YuGothic, "Yu Gothic", sans-serif;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10rem;
}
.p-exhibition__company {
  height: 15rem;
  background: #ffffff;
  position: relative;
}
.p-exhibition__company__img {
  display: block;
  width: 40rem;
  position: absolute;
  top: 50%;
  left: calc(50% - var(--sidebar) / 2);
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 520px) {
  .p-exhibition__company__img {
    width: 30rem;
  }
}
.p-exhibition__single {
  padding-top: 5rem;
  padding-bottom: 10rem;
}
@media screen and (max-width: 1025px) {
  .p-exhibition__single {
    padding-top: 0;
  }
}
.p-exhibition__single__mvWrap {
  display: flex;
}
@media screen and (max-width: 1025px) {
  .p-exhibition__single__mvWrap {
    flex-direction: column;
  }
}
.p-exhibition__copy {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 2.4rem;
  font-family: YuMincho, "Yu Mincho", serif;
  flex-direction: column;
}
@media screen and (max-width: 1025px) {
  .p-exhibition__copy {
    width: 100%;
    padding: 3rem 0;
  }
}
.p-exhibition__copy__sub {
  font-size: 2.4rem;
  font-family: YuMincho, "Yu Mincho", serif;
  color: #ffffff;
}
.p-exhibition__mainImg {
  height: 100%;
}
.p-exhibition__mainImg__wrap {
  width: 60%;
}
@media screen and (max-width: 1025px) {
  .p-exhibition__mainImg__wrap {
    width: 100%;
  }
}
.p-exhibition__booking {
  padding-right: var(--sidebar);
}
.p-exhibition__booking__content {
  padding: 10%;
}
.p-exhibition__descWrap {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}
@media screen and (max-width: 1025px) {
  .p-exhibition__descWrap {
    width: 92%;
  }
}
.p-exhibition__desc, .p-exhibition__longDesc {
  color: #ffffff;
  font-family: YuMincho, "Yu Mincho", serif;
  font-size: 3rem;
  margin-bottom: 0.8rem;
  padding: 0 0.5rem;
}
.p-exhibition__longDesc {
  font-size: 2.2rem;
  padding: 0;
}
.p-exhibition__imgList {
  display: flex;
  margin-bottom: 10rem;
  flex-wrap: wrap;
}
.p-exhibition__imgList__item {
  aspect-ratio: 1/1;
  overflow: hidden;
  margin-bottom: 5rem;
}
.p-exhibition__imgList__item:nth-of-type(1) {
  margin-left: 0 !important;
}
.p-exhibition__imgList__link {
  display: block !important;
  width: 100%;
  height: 100%;
}
.p-exhibition__imgList__img {
  height: 100%;
}
.p-exhibition__video {
  width: 100%;
}
.p-exhibition__video__link {
  display: block;
  aspect-ratio: 6/4;
  overflow: hidden;
  position: relative;
  width: 75%;
  margin: auto;
  margin-bottom: 10rem;
}
@media screen and (max-width: 1400px) {
  .p-exhibition__video__link {
    width: 92%;
  }
}
.p-exhibition__video__wrap {
  width: 120%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 1400px) {
  .p-exhibition__info {
    margin-bottom: 2rem;
  }
}
.p-exhibition__info__comName {
  color: #ffffff;
  font-size: 2.4rem;
  font-family: YuGothic, "Yu Gothic", sans-serif;
  font-weight: bold;
  border-left: solid 3px #ffffff;
  padding-left: 1rem;
  margin-bottom: 1.5rem;
}
.p-exhibition__info__txt, .p-exhibition__table__td, .p-exhibition__table__th, .p-exhibition__info__num {
  color: #ffffff;
  font-size: 2rem;
  font-family: YuGothic, "Yu Gothic", sans-serif;
  font-weight: bold;
  padding-left: 1rem;
  line-height: 1;
  margin-bottom: 1.5rem;
}
.p-exhibition__info__num {
  padding-left: 0 !important;
}
.p-exhibition__info__wrap {
  display: flex;
  width: 75%;
  justify-content: space-between;
  margin-bottom: 10rem;
}
@media screen and (max-width: 1400px) {
  .p-exhibition__info__wrap {
    flex-direction: column;
    width: 92%;
  }
}
.p-exhibition__table {
  margin-left: 10rem;
  border: solid 1px #ffffff;
}
@media screen and (max-width: 1400px) {
  .p-exhibition__table {
    margin-left: 0;
  }
}
.p-exhibition__table tr {
  border: solid 1px #ffffff;
}
.p-exhibition__table__th {
  border-right: solid 1px #ffffff;
  padding: 1.2rem 2.5rem;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
}
.p-exhibition__table__td {
  padding: 1.2rem 2.5rem;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
}
.p-exhibition__guide {
  width: 75%;
  margin: 0 auto 10rem;
  color: #ffffff;
  font-family: YuMincho, "Yu Mincho", serif;
  font-size: 2.2rem;
  padding: 0;
}
@media screen and (max-width: 1025px) {
  .p-exhibition__guide {
    width: 92%;
  }
}
.p-exhibition__guide__ttl {
  color: #ffffff;
  font-size: 3rem;
  font-family: YuMincho, "Yu Mincho", serif;
  margin-bottom: 5rem;
  text-align: center;
}
@media screen and (max-width: 1025px) {
  .p-exhibition__guide__ttl {
    width: 92%;
  }
}
.p-exhibition__blueprint__content {
  width: 60%;
  margin: auto;
  position: relative;
}
.p-exhibition__blueprint__logo {
  display: block;
  width: 25rem;
  height: 15rem;
  margin-left: auto;
}
.p-exhibition__blueprint__img {
  width: 75%;
  margin: 5rem auto 15rem;
}
@media screen and (max-width: 1025px) {
  .p-exhibition__blueprint__img {
    width: 100%;
  }
}
.p-exhibition__calendar {
  display: block;
  margin: auto;
  background: #fff;
}
@media screen and (max-width: 768px) {
  .p-exhibition__calendar {
    width: 100%;
    padding: 2%;
  }
}
.p-exhibition__calendar__ttl {
  color: #fff;
  font-family: YuMincho, "Yu Mincho", serif;
  text-align: center;
  margin-bottom: 3rem;
  font-size: 2.4rem;
}
.p-exhibition__bulk {
  background: #fff;
}
.p-exhibition__bulk__wrap {
  text-align: center;
}
.p-exhibition__bulk__txt {
  color: #fff;
  text-align: center;
  font-family: YuGothic, "Yu Gothic", sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

.youtube-video {
  position: relative;
  z-index: -1;
}

.event__calendar__hint {
  color: #fff !important;
}

input.p-exhibition__bulk__input {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.p-exhibition__bulk__inputWrap {
  width: 4rem;
  height: 4rem;
  border: solid 0.3rem orange;
  position: relative;
}

.p-content__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10rem;
  position: relative;
  flex-wrap: wrap;
  -moz-column-gap: 4%;
       column-gap: 4%;
  row-gap: 2rem;
  z-index: 1;
}
.p-content__list .slick-slide {
  margin-left: 0.5%;
}
.p-content__list--top {
  padding-right: calc(var(--eventTxt) + 50px);
}
@media screen and (max-width: 1025px) {
  .p-content__list--top {
    padding-right: 0;
  }
}
.p-content__list__arrow {
  position: absolute;
  bottom: -5rem;
  right: 0;
  transform: translateX(-20%);
}
.p-content__list__address {
  font-family: YuGothic, "Yu Gothic", sans-serif;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 1.2;
}
.p-content__list__open {
  color: red;
  font-weight: bold;
  font-family: YuGothic, "Yu Gothic", sans-serif;
}
.p-content__list__startDay {
  font-weight: bold;
  font-family: YuGothic, "Yu Gothic", sans-serif;
  color: red;
  line-height: 1;
}
.p-content__list__endDay {
  font-weight: bold;
  font-family: YuGothic, "Yu Gothic", sans-serif;
  color: red;
  line-height: 1;
}
.p-content__list__startTime {
  font-weight: bold;
  font-family: YuGothic, "Yu Gothic", sans-serif;
  line-height: 1;
}
.p-content__list__endTime {
  font-weight: bold;
  font-family: YuGothic, "Yu Gothic", sans-serif;
  line-height: 1;
}
.p-content__list__timeWrap {
  line-height: 1;
}
.p-content__list__wrap {
  width: calc(100% - var(--sidebar));
}
.p-content__list__label--reception {
  font-family: YuGothic, "Yu Gothic", sans-serif;
  font-weight: bold;
  line-height: 1.2;
  height: initial;
  background: rgb(255, 255, 255);
  font-size: 1.6rem;
  padding: 5px 10px;
  white-space: nowrap;
  margin-bottom: 5px;
  border: 1px solid rgb(115, 115, 115);
  display: inline-block;
}
.p-content__list__label--type {
  font-family: YuGothic, "Yu Gothic", sans-serif;
  font-weight: bold;
  line-height: 1.2;
  display: inline-block;
  background: rgb(125, 125, 125);
  font-size: 1.6rem;
  padding: 5px 10px;
  white-space: nowrap;
  margin-bottom: 5px;
  color: rgb(255, 255, 255);
}
.p-content__list__labelWrap {
  display: flex;
  justify-content: center;
  gap: 2%;
  margin-bottom: 10px;
  flex-wrap: wrap;
}
.p-content__list__companyName {
  font-family: YuGothic, "Yu Gothic", sans-serif;
  font-weight: bold;
  line-height: 1.2;
  color: rgb(70, 69, 69);
  text-align: center;
  font-size: 14px;
  padding-bottom: 10px;
}
.p-content__list__eventAddress {
  height: initial;
  font-family: YuGothic, "Yu Gothic", sans-serif;
  font-weight: bold;
  line-height: 1.2;
  color: rgb(70, 69, 69);
  text-align: center;
  font-size: 14px;
}
.p-content__list__day {
  text-align: center;
  font-weight: bold;
  color: red;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 1.3em;
  font-family: YuGothic, "Yu Gothic", sans-serif;
}
.p-content__list__adImgWrap {
  width: 100%;
  aspect-ratio: 5/4;
}
.p-content__list__adImgWrap img {
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: baseline !important;
  height: 100%;
}
.p-content__listTtl {
  font-family: YuGothic, "Yu Gothic", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
}
.p-content__listItem, .p-content__listItem--top {
  width: 22%;
  margin-bottom: 5rem;
  position: relative;
  aspect-ratio: 5/4;
}
@media screen and (max-width: 1400px) {
  .p-content__listItem, .p-content__listItem--top {
    width: 30%;
    aspect-ratio: 5/3;
    margin-left: 0;
    margin-bottom: 10rem;
  }
}
@media screen and (max-width: 768px) {
  .p-content__listItem, .p-content__listItem--top {
    width: 45%;
  }
}
.p-content__listItem:hover .p-content__list__arrow, .p-content__listItem--top:hover .p-content__list__arrow {
  transform: translateX(0);
  transition: 0.5s;
  transition-property: all;
}
@media screen and (max-width: 520px) {
  .p-content__listItem--top {
    width: 100%;
  }
}
.p-content__listLink {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.p-content__listLink:hover {
  opacity: initial;
}
.p-content__listLink:hover .p-content__listThumb {
  transform: scale(1.2);
  transition: 0.5s;
  transition-property: all;
}
.p-content__listLink:hover .p-content__list__arrow {
  transform: translateX(0);
  transition: 0.5s;
}
.p-content__listThumb__wrap {
  width: 100%;
  aspect-ratio: 5/4;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
}
.p-content__listLogo {
  position: absolute;
  z-index: 99;
  background: #ffffff;
  width: 70%;
  left: 50%;
  transform: translate(-50%, 50%);
  bottom: 0;
  text-align: center;
}
.p-content__listInfo {
  background: #ffffff;
  width: 100%;
  text-align: center;
  min-height: 250px;
}
@media screen and (max-width: 1400px) {
  .p-content__listInfo {
    min-height: 300px;
  }
}
@media screen and (max-width: 768px) {
  .p-content__listInfo {
    min-height: 180px;
  }
}
@media screen and (max-width: 520px) {
  .p-content__listInfo {
    min-height: 225px;
  }
}
.p-content__listLogoImg {
  width: 80%;
}
.p-content__listCopy {
  font-family: YuMincho, "Yu Mincho", serif;
  font-size: 1.8rem;
  margin-bottom: 5px;
  font-weight: bold;
}
.p-content__button {
  margin: 0 auto 10rem !important;
}
.p-content__imgList {
  display: flex;
  margin-bottom: 10rem;
  flex-wrap: wrap;
}
@media screen and (max-width: 1400px) {
  .p-content__imgList {
    justify-content: space-between;
  }
}
.p-content__imgList__item {
  overflow: hidden;
  margin-bottom: 5rem;
}
.p-content__imgList__item:nth-of-type(1) {
  margin-left: 0 !important;
}
@media screen and (max-width: 1400px) {
  .p-content__imgList__item {
    width: 45% !important;
    margin-left: 0 !important;
  }
}
@media screen and (max-width: 1025px) {
  .p-content__imgList__item {
    width: 100% !important;
    aspect-ratio: 6/4;
  }
}
.p-content__imgList__link {
  display: block !important;
  width: 100%;
}
.p-content__imgList__img {
  height: 100%;
}
.p-content__txt {
  font-size: 2.4rem;
  text-align: center;
  font-family: YuGothic, "Yu Gothic", sans-serif;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 2em;
}
.p-content__insta__link {
  overflow: hidden;
}

.p-company-event {
  background: #464545;
  padding-right: var(--sidebar);
  padding-bottom: 10rem;
  position: relative;
}
.p-company-event__slider__list {
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.p-company-event__slider__list .slick-slide {
  overflow: hidden;
}
.p-company-event__slider__list .slick-slide div li {
  overflow: hidden;
}
.p-company-event__slider__list .slick-dots {
  position: absolute;
  bottom: 10%;
}
.p-company-event__slider__list .slick-dots li {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 20px;
}
.p-company-event__slider__list .slick-dots li:nth-of-type(1) {
  margin-left: 0;
}
.p-company-event__slider__list .slick-dots li button::before {
  content: "" !important;
  width: 20px;
  height: 20px;
  background: #fff;
  overflow: hidden;
  opacity: 0.5;
}
.p-company-event__slider__item {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.p-company-event__point__ttl {
  text-align: center;
  color: #ffffff;
  font-family: YuGothic, "Yu Gothic", sans-serif;
  font-size: 2.4rem;
  font-weight: bold;
}
.p-company-event__point__txt {
  text-align: center;
  color: #ffffff;
  font-family: YuGothic, "Yu Gothic", sans-serif;
  font-size: 2rem;
  width: 60%;
  margin: auto;
}
.p-company-event__dt {
  width: 10rem;
  color: #ffffff;
  font-weight: bold;
  font-family: YuGothic, "Yu Gothic", sans-serif;
  font-size: 1.8rem;
}
.p-company-event__dd {
  color: #ffffff;
  font-weight: bold;
  font-family: YuGothic, "Yu Gothic", sans-serif;
  font-size: 2.2rem;
  margin-left: 5rem;
}
.p-company-event__type {
  color: #ffffff;
  background: #7D7D7D;
  text-align: center;
  display: inline-block;
  font-family: YuGothic, "Yu Gothic", sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 0 0.2rem;
  margin-bottom: 0.5rem;
}
.p-company-event__type:nth-last-of-type(1) {
  margin-bottom: 0;
}
.p-company-event__mapWrap {
  width: 60%;
  aspect-ratio: 6/4;
  margin: auto;
}
.p-company-event__ttl {
  color: #fff;
  font-family: YuGothic, "Yu Gothic", sans-serif;
  text-align: center;
  font-size: 3.6rem;
  font-weight: bold;
  margin-bottom: 5rem;
}
.p-company-event__bookingWrap {
  width: 100%;
  margin: 0 auto 10rem;
}
.p-company-event__detail__dl {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
@media screen and (max-width: 768px) {
  .p-company-event__detail__dl {
    flex-direction: column;
  }
}
.p-company-event__detail__dd, .p-company-event__detail__dt {
  color: #fff;
  font-family: YuGothic, "Yu Gothic", sans-serif;
  text-align: center;
  font-size: 2.2rem;
  font-weight: bold;
}
.p-company-event__adImg__wrap {
  width: 100%;
  margin: auto;
  margin-bottom: 10rem;
}
.p-company-event__reserve {
  margin: 0 auto 10rem !important;
}
.p-company-event__desc {
  color: #fff;
  font-family: YuGothic, "Yu Gothic", sans-serif;
  text-align: center;
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 10rem;
}
.p-company-event__map {
  width: 100%;
  aspect-ratio: 6/4;
  margin-bottom: 10rem;
}
.p-company-event__map iframe {
  width: 100% !important;
  height: 100% !important;
}

.slick-active {
  opacity: 1 !important;
}

#booking-package_inputFormPanel .bottomBarPanel, #booking-package_pay_with_stripe_konbini .bottomBarPanel {
  text-align: center;
}

#booking-package_inputFormPanel .book_now_button, #booking-package_inputFormPanel .next_page_button, #booking-package-subscription_form .book_now_button {
  width: 200px !important;
  background: orange;
  color: #fff;
  font-weight: bold;
}

#booking-package_inputFormPanel .return_form_button {
  width: 200px !important;
  background: orange;
  color: #fff;
  font-weight: bold;
}

#returnToCalendarButton {
  width: 200px !important;
  background: orange;
  color: #fff;
  font-weight: bold;
  display: flex;
  justify-content: center;
  font-weight: bold !important;
}

#booking-package_calendarPage .available_day .dateField {
  border: solid 3px red;
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 520px) {
  #booking-package_calendarPage .available_day .dateField {
    width: 4rem;
    height: 4rem;
  }
}

#booking-package_calendarPage .symbolPanel {
  display: none !important;
}

#booking-package_calendarPage .day_slot {
  display: flex;
  align-items: center;
  justify-content: center;
}

#bottomPanel {
  justify-content: center !important;
}

.p-reserve__imgWrap {
  width: 75%;
  height: auto;
  margin: auto;
  margin-bottom: 20rem;
}

.p-reserve__list{
 justify-content: center;
}

@media screen and (max-width: 520px){
   .p-reserve__list{
     justify-content:space-between;
  }
}
.p-reserve__list__item {
  background: #fff;
  width: 200px;
}

@media screen and (max-width: 520px){
   .p-reserve__list__item {
    width:45%;
 }
}


.p-access {
  padding-right: var(--sidebar);
  padding-top: 10rem;
  background: #464545;
}
.p-access__content {
  width: 70%;
  margin: auto;
}
@media screen and (max-width: 1025px) {
  .p-access__content {
    width: 92%;
  }
}
.p-access__mapWrap {
  aspect-ratio: 7/3;
  margin-bottom: 3rem;
}
@media screen and (max-width: 520px) {
  .p-access__mapWrap {
    aspect-ratio: 1/1;
  }
}
.p-access__address {
  color: #ffffff;
  font-size: 1.8rem;
  font-family: YuGothic, "Yu Gothic", sans-serif;
}
.p-access__dt {
  color: #ffffff;
  font-size: 2.2rem;
  font-family: YuGothic, "Yu Gothic", sans-serif;
}
.p-access__dd {
  color: #ffffff;
  font-size: 1.8rem;
  font-family: YuGothic, "Yu Gothic", sans-serif;
  margin-bottom: 2rem;
}

.p-privacypolicy {
  padding-right: var(--sidebar);
  font-family: YuGothic, "Yu Gothic", sans-serif;
}

#booking-package_inputFormPanel .bottomBarPanel, #booking-package_pay_with_stripe_konbini .bottomBarPanel {
  text-align: center;
}

#booking-package_inputFormPanel .book_now_button, #booking-package_inputFormPanel .next_page_button, #booking-package-subscription_form .book_now_button {
  width: 200px !important;
  background: orange;
  color: #fff;
  font-weight: bold;
}

#booking-package_inputFormPanel .return_form_button {
  width: 200px !important;
  background: orange;
  color: #fff;
  font-weight: bold;
}

#returnToCalendarButton {
  width: 200px !important;
  background: orange;
  color: #fff;
  font-weight: bold;
  display: flex;
  justify-content: center;
  font-weight: bold !important;
}

#booking-package_calendarPage .available_day .dateField {
  border: solid 3px red;
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 520px) {
  #booking-package_calendarPage .available_day .dateField {
    width: 4rem;
    height: 4rem;
  }
}

#booking-package_calendarPage .symbolPanel {
  display: none !important;
}

#booking-package_calendarPage .day_slot {
  display: flex;
  align-items: center;
  justify-content: center;
}

#bottomPanel {
  justify-content: center !important;
}

.calendarNotFound {
  display: none;
}

.c-navigation {
  width: 80%;
}
.c-navigation__list {
  display: flex;
  gap: 2%;
  justify-content: right;
}
.c-navigation__list__link {
  font-size: 1.8rem;
  font-family: YuGothic, "Yu Gothic", sans-serif;
  font-weight: 900;
  color: #464545;
  text-align: center;
  display: block;
}
.c-navigation__list__jp {
  display: block;
  font-size: 1.2rem;
  font-family: YuGothic, "Yu Gothic", sans-serif;
  font-weight: 900;
  color: #231815;
  width: 100%;
  text-align: center;
  white-space: nowrap;
}

.c-button--more {
  margin: auto;
  display: block;
  background: #231815;
  width: 40rem;
  text-align: center;
  padding: 1rem;
  color: #ffffff;
  border: solid 1px #ffffff;
  font-size: 1.8rem;
  font-family: YuGothic, "Yu Gothic", sans-serif;
  font-weight: 700;
}
.c-button--jp, .c-button--jpSmall {
  display: block;
  background: #231815;
  text-align: center;
  color: #ffffff;
  border: solid 1px #ffffff;
  font-size: 1.8rem;
  font-family: YuGothic, "Yu Gothic", sans-serif;
  width: 30rem;
  padding: 1rem;
  margin-left: 2rem;
}
.c-button--jp:hover, .c-button--jpSmall:hover {
  opacity: 0.6;
}
@media screen and (max-width: 520px) {
  .c-button--jp, .c-button--jpSmall {
    width: 80%;
    margin-left: 0;
    margin-bottom: 1rem;
  }
}
.c-button--jp:nth-of-type(1), .c-button--jpSmall:nth-of-type(1) {
  margin-left: 0;
}
.c-button--jpSmall {
  width: var(--sidebar);
  margin-bottom: 3rem;
}
.c-button__wrap {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 520px) {
  .c-button__wrap {
    flex-direction: column;
    align-items: center;
  }
}
.c-button--arrow {
  display: block;
  width: 10rem;
  height: 2rem;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background: url(../dist/img/common/arrow@2x.png);
}

.c-title--section {
  color: #fff;
  font-size: 4.2rem;
  display: flex;
  font-family: YuGothic, "Yu Gothic", sans-serif;
  font-weight: 600;
  justify-content: center;
  line-height: 1.2;
  align-items: center;
}
.c-title--sectionJp {
  color: #fff;
  font-size: 1.6rem;
  font-family: YuGothic, "Yu Gothic", sans-serif;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.c-title__wrap {
  padding-top: 10rem;
  padding-right: var(--sidebar);
  background: #231815;
}
.c-title__wrap--section {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .c-title__wrap--section {
    flex-direction: column;
  }
}
.c-title__txt {
  color: #fff;
  font-size: 2.2rem;
  font-family: YuGothic, "Yu Gothic", sans-serif;
  font-weight: bold;
  text-align: center;
}
.c-title__slash {
  color: #ffffff;
  font-size: 4.2rem;
}
@media screen and (max-width: 768px) {
  .c-title__slash {
    display: none;
  }
}

.c-pagination .nav-links {
  display: flex;
  justify-content: center;
  transform: translateX(-2rem);
}
.c-pagination .page-numbers {
  display: flex;
  color: #ffffff;
  border: solid 1px #ffffff;
  width: 5rem;
  height: 5rem;
  background: #231815;
  font-size: 1.8rem;
  justify-content: center;
  align-items: center;
  font-family: "Kozuka Gothic Pr6N", sans-serif;
  margin-left: 2rem;
  opacity: 0.6;
}
.c-pagination .page-numbers:hover {
  opacity: 1;
}
.c-pagination .current {
  opacity: 1;
}

.c-companySlider {
  padding-top: 5rem;
  padding-right: var(--sidebar);
  background: #464545;
}
.c-companySlider__list {
  margin-bottom: 5rem;
}
.c-companySlider__list:last-of-type {
  margin-bottom: 0;
}
.c-companySlider__list .slick-slide {
  margin: 0 1rem;
}
.c-companySlider__list__item {
  height: 10rem;
  background: #ffffff;
  position: relative;
  overflow: hidden;
}
.c-companySlider__list__img {
  position: absolute;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 50%;
  transform: translateY(-50%);
}
.c-companySlider__list__img--svg {
  position: absolute;
  width: 60%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.c-form__itemWrap {
  display: flex;
  margin-bottom: 5rem;
}
@media screen and (max-width: 768px) {
  .c-form__itemWrap {
    flex-direction: column;
  }
}
.c-form__item {
  color: #ffffff;
  width: 15rem;
  font-family: YuGothic, "Yu Gothic", sans-serif;
  height: 5rem;
  display: flex;
  align-items: center;
}
.c-form__must {
  color: #ffffff;
  width: 10rem;
  font-family: YuGothic, "Yu Gothic", sans-serif;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .c-form__must {
    justify-content: flex-start;
  }
}
.c-form__input {
  background: #ffffff;
  height: 5rem;
  border-radius: 2px;
  width: 100%;
  padding: 0 1rem;
}
.c-form__input__wrap {
  min-height: 37.5px;
  width: calc(100% - 25rem);
}
@media screen and (max-width: 768px) {
  .c-form__input__wrap {
    width: 100%;
  }
}
.c-form__txtArea {
  background: #ffffff;
  border-radius: 2px;
  width: 100%;
  padding: 1rem;
}
.c-form__btn {
  background: rgb(204, 204, 204);
  display: flex;
  color: #ffffff;
  width: 20rem;
  height: 8rem;
  justify-content: center;
  align-items: center;
  font-size: 2.2rem;
  font-family: YuGothic, "Yu Gothic", sans-serif;
}
.c-form__btnWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}

.mwform-zip-field {
  color: #ffffff !important;
}

.error {
  color: #ffffff !important;
}

.c-term__list {
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  margin: auto;
  margin-bottom: 15rem;
  gap: 4%;
  flex-wrap: wrap;
}
@media screen and (max-width: 1400px) {
  .c-term__list {
    width: 700px;
  }
}
@media screen and (max-width: 768px) {
  .c-term__list {
    width: 100%;
  }
}
.c-term__item, .c-term__item--all {
  display: block;
  background: #231815;
  text-align: center;
  width: 22%;
  padding: 1rem;
  margin-bottom: 2rem;
  border: solid 1px #ffffff;
  /*
  &:nth-of-type(1){
    margin-left: 0 !important;
  }
  &:nth-of-type(4n+2){
    margin-left: 0;
    @include mq(xxl){
      margin-left:5%;
    }
  }
  &:nth-of-type(3n+2){
    @include mq(xxl){
     margin-left: 0;
    }
  }
  &:nth-of-type(2n + 2){
    @include mq(){
     margin-left: 0;
    }
  }
  &:nth-of-type(2n - 1){
    @include mq(){
     margin-left:4%;
    }
  }
  @include mq(xxl){
    width: 30%;
    margin-left: 5%;
  }
  @include mq(){
    width: 48%;
  }*/
}
@media screen and (max-width: 768px) {
  .c-term__item, .c-term__item--all {
    width: 48%;
  }
}
.c-term__item__link {
  font-weight: bold;
  color: #ffffff;
  font-size: 1.8rem;
  font-family: YuGothic, "Yu Gothic", sans-serif;
  display: block;
  width: 100%;
}
.c-term__item--all {
  width: 100%;
}

.fancybox-close-small {
  background: #fff !important;
  opacity: 1 !important;
}

.fancybox-navigation .fancybox-button--arrow_left {
  background: #ffffff !important;
}

.fancybox-navigation .fancybox-button--arrow_right {
  background: #ffffff !important;
}

.fancybox-infobar span {
  color: #fff;
}

.u-font__bold {
  font-weight: bold;
  color: inherit;
  line-height: inherit;
}

@media screen and (min-width: 1401px) {
  .u-none__pc--xxl {
    display: none;
  }
}
@media screen and (min-width: 1201px) {
  .u-none__pc--xl {
    display: none;
  }
}
@media screen and (min-width: 1026px) {
  .u-none__pc--lg {
    display: none;
  }
}
@media screen and (min-width: 769px) {
  .u-none__pc--md {
    display: none;
  }
}
@media screen and (min-width: 521px) {
  .u-none__pc--sm {
    display: none;
  }
}

@media screen and (max-width: 1400px) {
  .u-none__mobile--xxl {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  .u-none__mobile--xl {
    display: none;
  }
}
@media screen and (max-width: 1025px) {
  .u-none__mobile--lg {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .u-none__mobile--md {
    display: none;
  }
}
@media screen and (max-width: 520px) {
  .u-none__mobile--sm {
    display: none;
  }
}

@keyframes flow {
  0% {
    transform: translate(-50%, -50%);
    opacity: 0;
  }
  1% {
    transform: translate(-50%, calc(-50% + 60px));
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}
@keyframes show {
  from {
    transform: scale(1.1);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.u-current {
  color: red !important;
}

.u-mb0 {
  margin-bottom: 0 !important;
}

.u-mb1 {
  margin-bottom: 0.1rem !important;
}

.u-mb2 {
  margin-bottom: 0.2rem !important;
}

.u-mb3 {
  margin-bottom: 0.3rem !important;
}

.u-mb4 {
  margin-bottom: 0.4rem !important;
}

.u-mb5 {
  margin-bottom: 0.5rem !important;
}

.u-mb6 {
  margin-bottom: 0.6rem !important;
}

.u-mb7 {
  margin-bottom: 0.7rem !important;
}

.u-mb8 {
  margin-bottom: 0.8rem !important;
}

.u-mb9 {
  margin-bottom: 0.9rem !important;
}

.u-mb10 {
  margin-bottom: 1rem !important;
}

.u-mb12 {
  margin-bottom: 1.2rem !important;
}

.u-mb14 {
  margin-bottom: 1.4rem !important;
}

.u-mb15 {
  margin-bottom: 1.5rem !important;
}

.u-mb16 {
  margin-bottom: 1.6rem !important;
}

.u-mb18 {
  margin-bottom: 1.8rem !important;
}

.u-mb20 {
  margin-bottom: 2rem !important;
}

.u-mb22 {
  margin-bottom: 2.2rem !important;
}

.u-mb24 {
  margin-bottom: 2.4rem !important;
}

.u-mb25 {
  margin-bottom: 2.5rem !important;
}

.u-mb26 {
  margin-bottom: 2.6rem !important;
}

.u-mb28 {
  margin-bottom: 2.8rem !important;
}

.u-mb30 {
  margin-bottom: 3rem !important;
}

.u-mb32 {
  margin-bottom: 3.2rem !important;
}

.u-mb35 {
  margin-bottom: 3.5rem !important;
}

.u-mb36 {
  margin-bottom: 3.6rem !important;
}

.u-mb38 {
  margin-bottom: 3.8rem !important;
}

.u-mb40 {
  margin-bottom: 4rem !important;
}

.u-mb42 {
  margin-bottom: 4.2rem !important;
}

.u-mb45 {
  margin-bottom: 4.5rem !important;
}

.u-mb48 {
  margin-bottom: 4.8rem !important;
}

.u-mb50 {
  margin-bottom: 5rem !important;
}

.u-mb60 {
  margin-bottom: 6rem !important;
}

.u-mb70 {
  margin-bottom: 7rem !important;
}

.u-mb80 {
  margin-bottom: 8rem !important;
}

.u-mb90 {
  margin-bottom: 9rem !important;
}

.u-mb100 {
  margin-bottom: 10rem !important;
}

.u-mb150 {
  margin-bottom: 15rem !important;
}

.u-mb200 {
  margin-bottom: 20rem !important;
}

.u-ml10 {
  margin-left: 1rem;
}

.u-pt100 {
  padding-top: 100px;
}

.u-up {
  opacity: 0;
  transform: translateY(50px);
  animation-fill-mode: forwards;
  animation-duration: 2s; /* アニメーションの持続時間を0.5秒に設定 */
  animation-name: up; /* 使用するアニメーション名を指定 */
  animation-timing-function: ease-in-out; /* アニメーションのタイミング関数を指定 */
}

.u-opacity {
  opacity: 0;
}

.u-bold {
  font-weight: bold;
}

@keyframes up {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
#u-loading {
  width: 100vw;
  height: 100vh;
  background: #fff;
  position: fixed;
  z-index: 99999999;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
}

.u-spinner {
  display: inline-block;
  width: 25rem;
  animation: spin 2s linear 1;
  text-align: center;
}

.u-center {
  display: block;
  text-align: center;
}

.u-flex {
  display: flex;
}

.u-inlineBlock {
  display: inline-block;
}

.u-marginAuto {
  margin: auto !important;
}

.u-p10 {
  padding: 1rem;
}

.u-overlayColor {
  opacity: 0.63;
  transition: 1.5s;
  transition-timing-function: ease-in-out;
  transition-property: all;
}

.u-marginAuto {
  display: block;
  margin: auto !important;
}

.u-overflow__hidden {
  overflow: hidden;
}

.u-white {
  background: #fff;
  color: #fff !important;
}

.u-orange {
  color: orange;
  font-size: 2rem;
  font-weight: bold;
}/*# sourceMappingURL=style.css.map */